<turbo-frame id="main_content">


  <div class="main_bottom_group">
    <div class="group_create">
      <p>+</p>
    </div>

    <div class="card_space">
      <%# link_to bookshelf_path(~.id), data: { turbo_frame: "main_content" } do %>
      <div class="card">
        <div class="card_pic"><%= image_tag "sample1.png", class: "card_img"%></div>
        <div class="gcard_name"></div>
        <div class="card_mem">
          <%= image_tag "sample1.png", class: "gmember_img"%>
          <%= image_tag "sample1.png", class: "gmember_img"%>
        </div>
      </div>
      <%# end %>

      <%# link_to"", groups_path, data: { turbo_frame: "main_content" } do%>
      <div class="card_add">
        <div class="card_pic"><%= image_tag "sample2.png", class: "card_img"%></div>
        <div class="card_name">+</div>
      </div>
      <%# end %>  
    </div> 



  </div> 
</turbo-frame>
