<div class="search">
    <input class="sear text" type="text" value="">
    <input class="sear bottom" type="submit" value="検索">
</div>

<%= link_to destroy_user_session_path, method: :delete, class: "login_out" do %>
  <p>logout</p>
<% end %>
