<div class="search">
    <form action="#" class="search-form-3">
      <label>
        <input type="text" placeholder="キーワードを入力">
      </label>
      <button type="submit" aria-label="検索"></button>
</form>
</div>

<%= link_to destroy_user_session_path, method: :delete, class: "login_out" do %>
  <p>logout</p>
<% end %>
